@import 'tailwindcss';

@theme {
  --font-sans: var(--custom-sans), ui-sans-serif, system-ui, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  --breakpoint-xs: 480px;

  --color-gray-50: var(--color-slate-50);
  --color-gray-100: var(--color-slate-100);
  --color-gray-200: var(--color-slate-200);
  --color-gray-300: var(--color-slate-300);
  --color-gray-400: var(--color-slate-400);
  --color-gray-500: var(--color-slate-500);
  --color-gray-600: var(--color-slate-600);
  --color-gray-700: var(--color-slate-700);
  --color-gray-800: var(--color-slate-800);
  --color-gray-900: var(--color-slate-900);
  --color-gray-950: var(--color-slate-950);
}

* {
  @apply focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-current;
}

:where(button, nav) {
  @apply select-none;
}

:where(button) {
  @apply hover:cursor-pointer;
}

:where(button, button *) {
  @apply leading-none;
}

:where(h1, h2, h3, h4, h5, h6) {
  @apply text-gray-50;
}
